
<div>
  <kendo-switch [(ngModel)]="checked"></kendo-switch>


  <h1>Kendo UI for Angular + Themebuilder + Fluent Theme</h1>

  <kendo-tilelayout
  [columns]="3"
  autoFlow="column"
  [rowHeight]="300"
  [resizable]="true"
  [reorderable]="true">

  <kendo-tilelayout-item title="kendo-barcode" [col]="1" [row]="1">
    <kendo-barcode type="EAN8" value="1234567">
    </kendo-barcode>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="button kendoButton" [col]="2" [row]="1">
    <button kendoButton (click)="onButtonClick()">Kendo Button</button>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-chart" [col]="3" [row]="1">
    <kendo-chart>
      <kendo-chart-series>
          <kendo-chart-series-item [data]="[1, 4, 5, 2, 1, 8]"> </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-chat" [col]="1" [row]="2">
    <kendo-chat
        [user]="user"
        [messages]="messages"
        (sendMessage)="sendMessage($event)"
    >
    </kendo-chat>
  </kendo-tilelayout-item>

  
  <kendo-tilelayout-item title="kendo-dialog" [col]="2" [row]="2">
    <button kendoButton *ngIf="!opened" (click)="openDialog()">
      Invoke Dialog
    </button>
    <kendo-dialog title="Oh Yeah!" *ngIf="opened" (close)="closeDialog()">
      <p style="margin: 30px; text-align: center;">The button was clicked.</p>
      <kendo-dialog-actions>
        <button kendoButton (click)="closeDialog()" themeColor="primary">
          Thanks a bunch!
        </button>
      </kendo-dialog-actions>
    </kendo-dialog>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-datepicker" [col]="1" [row]="3">
    <kendo-datepicker></kendo-datepicker>
  </kendo-tilelayout-item>


  <kendo-tilelayout-item title="kendo-dropdownlist" [col]="3" [row]="3">
    <kendo-dropdownlist defaultItem="Select item..." 
                        [data]="listItems">
    </kendo-dropdownlist>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-arcgauge" [col]="1" [row]="4">
    <kendo-arcgauge [value]="gaugeValue"> </kendo-arcgauge>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-circulargauge" [col]="2" [row]="4">
    <kendo-circulargauge [value]="gaugeValue" [scale]="{ max: 100 }">
      <ng-template kendoCircularGaugeCenterTemplate let-value="value">
        {{ gaugeValue }}%
      </ng-template>
    </kendo-circulargauge>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-radialgauge" [col]="3" [row]="4">
    <kendo-radialgauge [pointer]="{ value: gaugeValue }" [scale]="{ max: 50 }">
    </kendo-radialgauge>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-grid" [col]="1" [row]="5" [colSpan]="3">
    <kendo-grid [data]="gridData">
      <kendo-grid-column field="ProductID" title="ID"> </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Name"> </kendo-grid-column>
      <kendo-grid-column field="Category.CategoryName" title="Category">
      </kendo-grid-column>
      <kendo-grid-column field="UnitPrice" title="Price"> </kendo-grid-column>
    </kendo-grid>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-icon" [col]="1" [row]="6">
    <!-- all icons at https://www.telerik.com/kendo-angular-ui/components/icons/icon/icon-list/ -->
    <kendo-icon name="trash"></kendo-icon>
    <kendo-icon name="hand"></kendo-icon>
    <kendo-icon name="calculator"></kendo-icon>
    <kendo-icon name="align-left"></kendo-icon>
    <kendo-icon name="warning"></kendo-icon>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-loader, kendo-badge (kendo-angular-indicators)" [col]="2" [row]="6">
    <div class="wrap">
      <kendo-loader></kendo-loader>
      <kendo-badge-container>
        Available Updates
        <kendo-badge themeColor="info" rounded="full"></kendo-badge>
      </kendo-badge-container>
      <kendo-badge-container>
        <kendo-icon name="cart"></kendo-icon>
        <kendo-badge>4</kendo-badge>
      </kendo-badge-container>
      <kendo-badge-container>
        Sent Items
        <kendo-badge themeColor="tertiary">3</kendo-badge>
      </kendo-badge-container>
    </div>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-colorpicker" [col]="3" [row]="6">
    <kendo-colorpicker> </kendo-colorpicker>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-label > input > checkbox" [col]="1" [row]="7">
    <kendo-label [for]="notification" text="Allow Notifications"></kendo-label>
    <input type="checkbox" #notification kendoCheckBox />
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-formfield" [col]="2" [row]="7" [rowSpan]="2">
    <form class="k-form" [formGroup]="registerForm">
      <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">User Details</legend>
        <kendo-formfield>
          <kendo-label [for]="firstName" text="First Name"></kendo-label>
          <input
            formControlName="firstName"
            kendoTextBox
            #firstName
            required
          />

          <kendo-formhint>Your first name</kendo-formhint>
          <kendo-formerror>Error: First name is required</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label [for]="lastName" text="Last Name"></kendo-label>
          <input formControlName="lastName" kendoTextBox #lastName required />

          <kendo-formhint>Your last name</kendo-formhint>
          <kendo-formerror>Error: Last name is required</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label
            [for]="birthDate"
            [optional]="true"
            text="Birth Date"
          ></kendo-label>
          <kendo-datepicker
            #birthDate
            formControlName="birthDate"
            [min]="min"
            [max]="max"
          >
          </kendo-datepicker>

          <kendo-formhint>Your birth date</kendo-formhint>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label [for]="email" text="Email"></kendo-label>
          <input formControlName="email" kendoTextBox #email required />

          <kendo-formhint>Your active email</kendo-formhint>
          <kendo-formerror>Error: Not valid email format</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <div class="k-checkbox-wrap">
            <input
              #acceptNews
              type="checkbox"
              kendoCheckBox
              formControlName="acceptNews"
            />
            <kendo-label
              [for]="acceptNews"
              class="k-checkbox-label"
              text="I want to receive notifications"
            ></kendo-label>
          </div>

          <kendo-formhint
            >You will receive our latest updates and promotions on your
            email</kendo-formhint
          >
        </kendo-formfield>

        <div class="k-form-buttons">
          <button kendoButton themeColor="primary" (click)="submitForm()">
            Submit
          </button>
          <button kendoButton (click)="clearForm()">Clear</button>
        </div>
      </fieldset>
    </form>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-numerictextbox" [col]="3" [row]="7">
    <kendo-label class="k-form" text="Units">
      <kendo-numerictextbox
        [style.width.px]="170"
        [value]="42"
        [min]="0"
        [max]="100"
        [autoCorrect]="false">
      </kendo-numerictextbox>
    </kendo-label>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="input kendoRadioButton" [col]="1" [row]="8">
    <kendo-label
      class="k-radio-label"
      [for]="terms"
      text="Accept Terms & Conditions"
    ></kendo-label>
    <input type="radio" #terms kendoRadioButton />
  </kendo-tilelayout-item>


  <kendo-tilelayout-item title="kendo-slider" [col]="3" [row]="8">
    <div style="text-align: center;">
      <kendo-label
        style="display: flex; justify-content: center;"
        [for]="balance"
        text="Balance">
      </kendo-label>
      <kendo-slider
        #balance
        [fixedTickWidth]="10"
        [min]="-10"
        [max]="10"
        [smallStep]="smallStep"
        [(ngModel)]="valueHorizontal"
      >
        <kendo-slider-messages
          increment="Right"
          decrement="Left"
        ></kendo-slider-messages>
      </kendo-slider>
      <div>{{ valueHorizontal }}</div>
    </div>

    <div style="text-align: center;">
      <kendo-label
        style="display: flex; justify-content: center;"
        [for]="equalizer"
        text="EQUALIZER"
      >
      </kendo-label>
      <div class="eqSlider">
        <kendo-slider
          #equalizer
          [vertical]="true"
          [showButtons]="false"
          [min]="minSlide"
          [max]="maxSlide"
          [smallStep]="smallStep"
          [largeStep]="largeStep"
          [(ngModel)]="valuesVertical[0]"
        ></kendo-slider>
        <p>{{ valuesVertical[0] }}</p>
      </div>
      <div class="eqSlider">
        <kendo-slider
          #equalizer
          [vertical]="true"
          [showButtons]="false"
          [min]="minSlide"
          [max]="maxSlide"
          [smallStep]="smallStep"
          [largeStep]="largeStep"
          [(ngModel)]="valuesVertical[1]"
        ></kendo-slider>
        <p>{{ valuesVertical[1] }}</p>
      </div>
      <div class="eqSlider">
        <kendo-slider
          aria-label="Equalizer"
          [vertical]="true"
          [showButtons]="false"
          [min]="minSlide"
          [max]="maxSlide"
          [smallStep]="smallStep"
          [largeStep]="largeStep"
          [(ngModel)]="valuesVertical[2]"
        ></kendo-slider>
        <p>{{ valuesVertical[2] }}</p>
      </div>
      <div class="eqSlider">
        <kendo-slider
          aria-label="Equalizer"
          [vertical]="true"
          [showButtons]="false"
          [min]="minSlide"
          [max]="maxSlide"
          [smallStep]="smallStep"
          [largeStep]="largeStep"
          [(ngModel)]="valuesVertical[3]"
        ></kendo-slider>
        <p>{{ valuesVertical[3] }}</p>
      </div>
      <div class="eqSlider">
        <kendo-slider
          aria-label="Equalizer"
          [vertical]="true"
          [showButtons]="false"
          [min]="minSlide"
          [max]="maxSlide"
          [smallStep]="smallStep"
          [largeStep]="largeStep"
          [(ngModel)]="valuesVertical[4]"
        ></kendo-slider>
        <p>{{ valuesVertical[4] }}</p>
      </div>
    </div>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-textbox" [col]="1" [row]="9">
    <kendo-label class="k-form" text="Message">
      <kendo-textbox
        [style.width.px]="300"
        placeholder="Type your message here"
        [clearButton]="true"
      >
        <ng-template kendoTextBoxPrefixTemplate>
          <button kendoButton fillMode="clear" icon="image"></button>
          <button kendoButton fillMode="clear" icon="calendar"></button>
          <kendo-textbox-separator></kendo-textbox-separator>
        </ng-template>
        <ng-template kendoTextBoxSuffixTemplate>
          <kendo-textbox-separator></kendo-textbox-separator>
          <button kendoButton fillMode="clear" class="send-button">Send</button>
        </ng-template>
      </kendo-textbox>
    </kendo-label>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-floatinglabel" [col]="2" [row]="9">
    <kendo-floatinglabel text="Enter date">
      <kendo-datepicker
        [(ngModel)]="dateFloatingLabel"
        placeholder=""
        name="date"
        [style.width.px]="180"
      >
      </kendo-datepicker>
    </kendo-floatinglabel>
    <kendo-floatinglabel text="Enter Age">
      <kendo-numerictextbox
        [(ngModel)]="ageFloatingLabel"
        name="age"
        [style.width.px]="180"
      ></kendo-numerictextbox>
    </kendo-floatinglabel>
    <kendo-floatinglabel text="Select value">
      <kendo-dropdownlist
        [(ngModel)]="comboBoxValueFloatingLabel"
        [data]="dataFloatingLabel"
        [style.width.px]="180"
      >
      </kendo-dropdownlist>
    </kendo-floatinglabel>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-label" [col]="3" [row]="9">
    <form class="k-form-kendo-lbl" [formGroup]="formKendoLabel">
      <h5>COURSE REGISTRATION FORM</h5>
      <kendo-label text="Full Name">
        <kendo-textbox
          formControlName="fullName"
          [style.width.px]="180"
        ></kendo-textbox>
      </kendo-label>
      <kendo-label text="Email">
        <kendo-textbox
          formControlName="email"
          #email
          [style.width.px]="180"
        ></kendo-textbox>
      </kendo-label>
      <kendo-label [for]="age" text="Age (18+)"></kendo-label>
      <kendo-numerictextbox
        #age
        formControlName="age"
        format="n0"
        [style.width.px]="180"
      ></kendo-numerictextbox>
      <div class="k-form-buttons">
        <button
          kendoButton
          themeColor="primary"
          [disabled]="!formKendoLabel.valid"
          (click)="submitFormKendoLabel()"
        >
          Register
        </button>
        <button kendoButton (click)="clearFormKendoLabel()">Clear</button>
      </div>
    </form>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-avatar" [col]="1" [row]="10">
    <div class="list-kendo-avatar">
      <div class="contact-list-kendo-avatar">Contacts</div>
      <div class="contact-kendo-avatar" *ngFor="let contact of contactInitials">
        <div class="k-hstack-kendo-avatar">
          <kendo-avatar [initials]="contact.avatar"></kendo-avatar>
          <div>
            <h2>{{ contact.name }}</h2>
            <p>{{ contact.position }}</p>
          </div>
        </div>
      </div>
      <div class="contact-kendo-avatar" *ngFor="let contact of contactImages">
        <div class="k-hstack-kendo-avatar">
          <kendo-avatar [imageSrc]="contact.avatar"></kendo-avatar>
          <div>
            <h2>{{ contact.name }}</h2>
            <p>{{ contact.position }}</p>
          </div>
        </div>
      </div>
      <div class="contact-kendo-avatar">
        <div class="k-hstack-kendo-avatar">
          <kendo-avatar icon="user"> </kendo-avatar>
          <div class="mate-info-kendo-avatar">
            <h2>Unknown</h2>
            <p>Not specified</p>
          </div>
          <div class="k-hstack-kendo-avatar"></div>
        </div>
      </div>
    </div>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-drawer" [col]="2" [row]="10">
    <div class="custom-toolbar">
      <button
        kendoButton
        icon="menu"
        fillMode="flat"
        (click)="drawer.toggle()"
      ></button>
      <span class="mail-box">Mail Box</span>
    </div>
    <kendo-drawer-container>
      <kendo-drawer
        #drawer
        [items]="items"
        mode="push"
        [mini]="true"
        [expanded]="true"
        (select)="onSelect($event)"
      >
      </kendo-drawer>

      <kendo-drawer-content>
        <h3>some content follows here ...</h3>
      </kendo-drawer-content>
    </kendo-drawer-container>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-switch" [col]="3" [row]="10">
    <kendo-label text="Toggle">
      <kendo-switch [(ngModel)]="checked"></kendo-switch>
    </kendo-label>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-gridlayout" [col]="1" [row]="11" [colSpan]="3" [rowSpan]="3">
    <div style="overflow-x: auto;">
      <kendo-gridlayout 
        [gap]="{ rows: 6, cols: 10 }"
        [rows]="[
          { height: 20 },
          { height: 100 },
          { height: 100 },
          { height: 20 },
          { height: 460 }
        ]"
        [cols]="[{ width: 270 }, { width: 270 }, { width: 310 }]"
      >
        <kendo-gridlayout-item [row]="1" [col]="1" [colSpan]="3">
          <div class="k-text-inverse k-text-uppercase k-font-weight-bold">
            Trending articles
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="2" [col]="1">
          <trending-article
            [position]="1"
            [article]="articlesKendoGrid[0]"
          ></trending-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="2" [col]="2">
          <trending-article
            [position]="2"
            [article]="articlesKendoGrid[1]"
          ></trending-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="2" [col]="3">
          <trending-article
            [position]="3"
            [article]="articlesKendoGrid[2]"
          ></trending-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="3" [col]="1">
          <trending-article
            [position]="4"
            [article]="articlesKendoGrid[3]"
          ></trending-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="3" [col]="2">
          <trending-article
            [position]="5"
            [article]="articlesKendoGrid[4]"
          ></trending-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="3" [col]="3">
          <trending-article
            [position]="6"
            [article]="articlesKendoGrid[5]"
          ></trending-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="4" [col]="1" [colSpan]="2">
          <div class="k-text-inverse k-text-uppercase k-font-weight-bold">
            Recommended for you
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="5" [col]="1" [colSpan]="2">
          <recommended-article
            *ngFor="let article of recommendedArticlesKendoGrid"
            [article]="article"
          ></recommended-article>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="4" [col]="3">
          <div class="k-text-inverse k-text-uppercase k-font-weight-bold">
            Events this month
          </div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [row]="5" [col]="3">
          <kendo-calendar
            type="infinite"
            width="100%"
            [(value)]="selectedDateKendoGrid"
            (valueChange)="handleValueChange()"
            bottomView="year"
            topView="decade"
            [navigation]="false"
          >
          </kendo-calendar>
          <div
            class="k-text-inverse k-text-uppercase k-font-weight-bold k-mt-4"
          >
            Discover more
          </div>
          <kendo-chiplist class="k-flex-wrap" selection="multiple">
            <kendo-chip
              *ngFor="let tag of tagsKendoGrid"
              [label]="tag.name"
              fillMode="outline"
            >
            </kendo-chip>
          </kendo-chiplist>
        </kendo-gridlayout-item>
      </kendo-gridlayout>
    </div>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-splitter" [col]="1" [row]="14" [colSpan]="3">
    <kendo-splitter orientation="vertical" style="height: 340px;">
      <kendo-splitter-pane>
        <kendo-splitter>
          <kendo-splitter-pane [collapsible]="true" size="30%">
            <div>
              <h3>Inner splitter / left pane</h3>
              <p>Resizable and collapsible.</p>
            </div>
          </kendo-splitter-pane>

          <kendo-splitter-pane>
            <div>
              <h3>Inner splitter / center pane</h3>
              <p>Resizable only.</p>
            </div>
          </kendo-splitter-pane>

          <kendo-splitter-pane [collapsible]="true" size="30%">
            <div>
              <h3>Inner splitter / right pane</h3>
              <p>Resizable and collapsible.</p>
            </div>
          </kendo-splitter-pane>
        </kendo-splitter>
      </kendo-splitter-pane>

      <kendo-splitter-pane size="100px">
        <div>
          <h3>Outer splitter / Middle pane</h3>
          <p>Resizable only.</p>
        </div>
      </kendo-splitter-pane>

      <kendo-splitter-pane [resizable]="false" size="100px">
        <div>
          <h3>Outer splitter / Bottom pane</h3>
          <p>Non-resizable and non-collapsible.</p>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-stepper" [col]="1" [row]="15" [colSpan]="2">
    <kendo-stepper
      [steps]="stepsKendoStepper"
      stepType="full"
      [(currentStep)]="currentKendoStepper"
      [linear]="false"
      [style.width.px]="570"
    >
    </kendo-stepper>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-tabstrip" [col]="3" [row]="15">
    <kendo-tabstrip (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Paris" [selected]="true">
        <ng-template kendoTabContent>
          <div>
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/rainy.png"
            />
            <h2>17<span>ºC</span></h2>
            <span>Rainy weather in Paris.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="New York City">
        <ng-template kendoTabContent>
          <div>
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/cloudy.png"
            />
            <h2>19<span>ºC</span></h2>
            <span>Cloudy weather in New York City.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Tallinn">
        <ng-template kendoTabContent>
          <div>
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/sunny.png"
            />
            <h2>23<span>ºC</span></h2>
            <span>Sunny weather in Tallinn.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="London">
        <ng-template kendoTabContent>
          <div>
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/rainy.png"
            />
            <h2>16<span>ºC</span></h2>
            <span>Rainy weather in London.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-expansionpanel" [col]="1" [row]="16" [colSpan]="2" [rowSpan]="2">
    <kendo-expansionpanel
      *ngFor="let item of itemsExpansionPnl; index as i"
      [title]="item.country"
      [animation]="500"
      [subtitle]="item.continent"
      [expanded]="item.expanded"
      (action)="onAction(i)"
    >
      <div>
        <img [src]="item.imageUrl" [alt]="item.country" height="200px" />
        <span class="content-text">{{ item.text }}</span>
      </div>
    </kendo-expansionpanel>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item title="kendo-panelbar" [col]="1" [row]="18" [colSpan]="2">
    <kendo-panelbar>
      <kendo-panelbar-item title="My Teammates">
        <ng-template kendoPanelBarContent>
          <div>
            <div>
              <img [src]="imageUrl('andrew')" alt="Andrew Fuller" />
              <span>
                <h2>Andrew Fuller</h2>
                <p>Team Lead</p>
              </span>
            </div>
            <div>
              <img [src]="imageUrl('nancy')" alt="Nancy Leverling" />
              <span>
                <h2>Nancy Leverling</h2>
                <p>Sales Associate</p>
              </span>
            </div>
            <div>
              <img [src]="imageUrl('robert')" alt="Robert King" />
              <span>
                <h2>Robert King</h2>
                <p>Business System Analyst</p>
              </span>
            </div>
          </div>
        </ng-template>
      </kendo-panelbar-item>
      <kendo-panelbar-item title="Projects">
        <kendo-panelbar-item title="New Business Plan"></kendo-panelbar-item>
        <kendo-panelbar-item title="Sales Forecasts">
          <kendo-panelbar-item title="Q1 Forecast"></kendo-panelbar-item>
          <kendo-panelbar-item title="Q2 Forecast"></kendo-panelbar-item>
          <kendo-panelbar-item title="Q3 Forecast"></kendo-panelbar-item>
          <kendo-panelbar-item title="Q4 Forecast"></kendo-panelbar-item>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Sales Reports"></kendo-panelbar-item>
      </kendo-panelbar-item>
      <kendo-panelbar-item title="Programs">
        <kendo-panelbar-item title="Monday"></kendo-panelbar-item>
        <kendo-panelbar-item title="Tuesday"></kendo-panelbar-item>
        <kendo-panelbar-item title="Wednesday"></kendo-panelbar-item>
        <kendo-panelbar-item title="Thursday"></kendo-panelbar-item>
        <kendo-panelbar-item title="Friday"></kendo-panelbar-item>
      </kendo-panelbar-item>
      <kendo-panelbar-item
        title="Communication"
        [disabled]="true"
      ></kendo-panelbar-item>
    </kendo-panelbar>
  </kendo-tilelayout-item>


  </kendo-tilelayout>
</div>